body {
	background-color: white;
	color: black;
	font-family: serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	min-height: 100vh;

	cursor: url('/Images/cursor_normal.png'), auto;
}

#netcat-header-a:hover {
	cursor: url('/Images/cursor_grab.png'), auto;
	background-color: transparent;
	color: transparent;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

a {
	color: black;
	text-decoration: underline;
	text-decoration-style: wavy;
}

a:hover {
	cursor: url('/Images/cursor_grab.png'), auto;
	color: white;
	background-color: black;
	text-decoration: none;
}

li {
	list-style-type: none;
	font-family: sans-serif;
}

code {
	font-family: monospace;
}

footer {
	font-family: sans-serif;
	margin-top: auto;
}

#netcat-ring-img {
	height: 1em;
}

