body {
	background-color: white;
	color: black;
	font-family: serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

a {
	color: #1e4387;
	text-decoration: underline;
}

a:hover {
	color: white;
	background-color: #1e4387;
	text-decoration: none;
}

li {
	list-style-type: none;
	font-family: sans-serif;
}

footer {
	font-family: sans-serif;
	margin-top: auto;
}

#fent-header {
	font-family: serif;
	font-style: italic;
	font-size: 24pt;
}

#fent-header-a {
	text-decoration: none;
}

